<div>
  <form [formGroup]="passwordChangeForm" >
    <div class="form-group">
      <input class="form-control" formControlName="oldPassword" type="password" placeholder="Old password" autocomplete="current-password"
             i18n-placeholder="Old password placeholder|Text in old password placeholder@@old-password">

      <span *ngIf="passwordChangeForm.get('oldPassword').touched">
        <span class="badge badge-danger float-left"
              i18n="Password validation|Shown when password is empty@@old-password-required-validation"
              *ngIf="passwordChangeForm.get('oldPassword').hasError('required')">
          Old password is required.
        </span>
        <span class="badge badge-danger float-left"
              i18n="Password validation|Shown when password is too short@@old-password-too-short-validation"
              *ngIf="passwordChangeForm.get('oldPassword').hasError('minlength')">
          Old password must contains at least {{minPasswordLength}} characters.
        </span>
        <span class="badge badge-danger float-left"
              i18n="Password validation|Shown when password is too long@@old-password-too-long-validation"
              *ngIf="passwordChangeForm.get('oldPassword').hasError('maxlength')">
          Old password must contain a maximum of {{maxPasswordLength}} characters.
        </span>
      </span>
    </div>
    <div class="form-group">
      <input class="form-control" formControlName="newPassword" type="password" placeholder="New password" autocomplete="new-password"
             i18n-placeholder="New password placeholder|Text in new password placeholder@@new-password">

      <span *ngIf="passwordChangeForm.get('newPassword').touched">
        <span class="badge badge-danger float-left"
              i18n="Password validation|Shown when password is empty@@password-required-validation"
              *ngIf="passwordChangeForm.get('newPassword').hasError('required')">
          Password is required.
        </span>
        <span class="badge badge-danger float-left"
              i18n="Password validation|Shown when password is too short@@new-password-too-short-validation"
              *ngIf="passwordChangeForm.get('newPassword').hasError('minlength')">
          New password must contains at least {{minPasswordLength}} characters.
        </span>
        <span class="badge badge-danger float-left"
              i18n="Password validation|Shown when password is too long@@new-password-too-long-validation"
              *ngIf="passwordChangeForm.get('newPassword').hasError('maxlength')">
          New password must contain a maximum of {{maxPasswordLength}} characters.
        </span>
      </span>
    </div>
    <div class="form-group">
      <input class="form-control" formControlName="confirmNewPassword" type="password"
             placeholder="Confirm new password" autocomplete="new-password"
             i18n-placeholder="Confirm new password placeholder|Text in confirm new password placeholder@@confirm-new-password">

      <span *ngIf="passwordChangeForm.get('confirmNewPassword').touched">
        <span class="badge badge-danger float-left"
              i18n="Confirm new password validation|Shown when new password is empty@@confirm-new-password-required-validation"
              *ngIf="passwordChangeForm.get('confirmNewPassword').hasError('required')">
          You must confirm new password.
        </span>
        <span class="badge badge-danger float-left"
              i18n="Confirm password validation|Shown when passwords do not match@@confirm-password-validation"
              *ngIf="passwordChangeForm.hasError('passwordsNotMatch')">
          Passwords are different.
        </span>
      </span>
    </div>
    <div class="form-check">
      <button class="btn btn-primary float-right"
              [disabled]="passwordChangeForm.invalid"
              type="submit" (click)="changePassword()"
              i18n="Change password button| Text in change password button@@change-password">
        Change password</button>
      <div class="clearfix"></div>
    </div>
  </form>
</div>
<span [hidden]="true" #passwordChangedMsg
i18n="Password changed|Password changed message@@password-changed-msg">Password changed</span>
