<div>
  <form [formGroup]="editProjectForm">
    <div class="form-group">
      <input class="form-control" formControlName="name" placeholder="Name"
             i18n-placeholder="Name placeholder|Text in name placeholder@@name">
      <span *ngIf="editProjectForm.get('name').touched">
          <span class="badge badge-danger float-left"
                i18n="Name validation|Shown when name is empty@@name-required-validation"
                *ngIf="editProjectForm.get('name').hasError('required')">
            Name is required.
          </span>
          <span class="badge badge-danger float-left"
                i18n="Name validation|Shown when name is too long@@name-too-long-validation"
                *ngIf="editProjectForm.get('name').hasError('maxlength')">
            Name must contain a maximum of {{maxNameLength}} characters.
          </span>
        </span>
    </div>
    <div class="form-group">
      <textarea  class="form-control" formControlName="description" placeholder="Description" [rows]="textAreaRows"
             i18n-placeholder="Description placeholder|Text in description placeholder@@description"></textarea>
      <span *ngIf="editProjectForm.get('description').touched">
          <span class="badge badge-danger float-left"
                i18n="Description validation|Shown when description is too long@@description-too-long-validation"
                *ngIf="editProjectForm.get('name').hasError('maxlength')">
            Description must contain a maximum of {{maxDescriptionLength}} characters.
          </span>
        </span>
    </div>
    <div class="form-check">
      <button class="btn btn-primary float-right default-button-width" [disabled]="editProjectForm.invalid || processing" type="submit"
              (click)="edit()">
        <span *ngIf="!project" i18n="Add project button|Text in add project button@@add-project">
          Add project
        </span>
        <span *ngIf="project" i18n="Modify project button|Text in modify project button@@modify-project">
          Modify project
        </span>
      </button>
      <div class="clearfix"></div>
    </div>
  </form>
</div>
