.task-description-container {
  margin-bottom: 30px;
}
.task-short-description {
  font-weight: bold;
}
.buttons-container {
  margin-top: 30px;
  width: 40%;
}
.delete-task-btn {
  margin-left: 15px;
}
