<div class="task-container">
  <div class="task-description-container">
    <div class="task-short-description">
      {{task.shortDescription}}
    </div>
    <hr>
    <div>
      {{task.fullDescription}}
    </div>
  </div>
  <div class="form-check delete-project-container">
    <button class="btn btn-danger float-right" (click)="delete()" type="button"
            i18n="Delete task|Delete task button@@delete-task">Delete task</button>
    <div class="clearfix"></div>
  </div>
  <div>
    <hr>
    <app-comments-list [taskId]="task.id"></app-comments-list>
  </div>
</div>
