.task-wrapper {
  padding: 10px;
  border: 1px solid var(--project-border);
  border-radius: 3px;
  margin-bottom: 15px;
}
.state-change-btn-height {
  height: 100%;
}
.state-change-btn-width {
  width: 100%;
  font-size: 12px;
}
.tasks-list-container {
  margin-top: 20px;
}
.task-short-description {
  cursor: pointer;
}
