<div class="tasks-list-container">
  <div *ngFor="let task of tasks;">
    <div class="task-wrapper">
      <div class="row">
        <div class="col-md-2">
          <button *ngIf="prevState"
                  class="btn btn-primary state-change-btn"
                  (click)="updateState(task, prevState)"><</button>
        </div>
        <div class="col-md-5 task-short-description break-long-word" (click)="openTask(task)">
          {{task.shortDescription}}
        </div>
        <div class="col-md-3">

          <button *ngIf="currentState == 'backlog'"
                  class="btn btn-success state-change-btn-sm"
                  (click)="updateState(task, 'todo')">D</button>
          <button *ngIf="!currentState || currentState != 'backlog'"
                  class="btn btn-primary state-change-btn-sm"
                  (click)="updateState(task, 'backlog')">B</button>

          <button *ngIf="currentState == 'archived'"
                  class="btn btn-success state-change-btn-sm"
                  (click)="updateState(task, 'todo')">D</button>
          <button *ngIf="!currentState || currentState != 'archived'"
                  class="btn btn-secondary state-change-btn-sm"
                  (click)="updateState(task, 'archived')">A</button>

          <button *ngIf="currentState == 'ignored'"
                  class="btn btn-success state-change-btn-sm"
                  (click)="updateState(task, 'todo')">D</button>
          <button *ngIf="!currentState || currentState != 'ignored'"
                  class="btn btn-warning state-change-btn-sm"
                  (click)="updateState(task, 'ignored')">I</button>
        </div>
        <div class="col-md-2" >
          <button *ngIf="nextState"
                  class="btn btn-primary float-right state-change-btn"
                  (click)="updateState(task, nextState)">></button>
        </div>
      </div>
    </div>
  </div>
</div>
