<div class="reset-password-form">
  <div *ngIf="!sent; else resetRequestSent">
    <form [formGroup]="passwordResetForm">
      <div class="form-group">
        <input class="form-control" email formControlName="email" placeholder="Email"
               i18n-placeholder="Email placeholder| Text in email placeholder@@email">
        <span *ngIf="passwordResetForm.get('email').touched">
          <span class="badge badge-danger float-left"
                i18n="Email validation|Shown when email is empty@@email-required-validation"
                *ngIf="passwordResetForm.get('email').hasError('required')">
            Email is required.
          </span>
          <span class="badge badge-danger float-left"
                i18n="Email validation|Shown when email is invalid@@email-validation"
                *ngIf="passwordResetForm.get('email').hasError('email')">
            Enter valid email address.
          </span>
        </span>
      </div>
      <div class="form-check">
        <button class="btn btn-primary float-right"
                [disabled]="passwordResetForm.invalid"
                type="submit" (click)="resetPassword()"
                i18n="Reset password button| Text in reset password button@@reset-password">Reset password</button>
      </div>

    </form>
  </div>
  <div>
    <ng-template #resetRequestSent>
      <span i18n="Reset password sent|Shown after password reset request was sent@@reset-password-sent">
        If email is valid, new password was sent.
      </span>
    </ng-template>
  </div>
</div>
