.task {
    min-height: 50px;
    border: 1px solid var(--project-border);
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
}
.task-name {
    font-weight: bold;
}
.full-description {
    text-align: left;
}