:root {
  --main-color: rgb(0, 123, 255);
  --project-border: rgb(187, 187, 187);
  --inactive-text: rgb(180, 180, 180);
}
hr {
  background-color: var(--main-color);
}
.dialog-container {
  padding: 20px 30px;
}
