.pagination-container {
  margin-bottom: 10px;
}
.project-wrapper {
  margin-bottom: 25px;
}
.project {
  border: 1px solid var(--project-border);
  padding: 10px;
  border-radius: 5px;
  height: 220px;
  overflow: hidden;
  cursor: pointer;
}
.project-name {
  font-weight: bold;
  text-align: center;
  color: var(--main-color);
}
.add-project {
  margin-bottom: 10px;
}
.no-projects {
  text-align: center;
  color: var(--inactive-text);
  font-size: 20px;
  font-weight: bold;
}
