.comment {
  margin-top: 20px;
}
.no-comments {
  color: var(--inactive-text);
}
.comments-list-container {
  margin-bottom: 30px;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
.add-comment {
  margin-top: 30px;
}
.buttons-container {
  margin-top: 30px;
  width: 40%;
}
.delete-comment-btn {
  margin-left: 15px;
}
