<div class="comments-list-container">
  <div *ngIf="comments && comments.comments.length !== 0; else noComments">
    <div *ngFor="let comment of comments.comments" class="comment break-long-word">
      {{comment.content}}
      <div class="form-check buttons-container float-right">
        <button class="btn btn-primary" (click)="modify(comment)" type="button"
                i18n="Modify comment|Modify comment button@@modify-comment">Modify comment</button>
        <button class="btn btn-danger delete-comment-btn" (click)="delete(comment)" type="button"
                i18n="Delete comment|Delete comment button@@delete-comment">Delete comment</button>
      </div>
      <div class="clearfix"></div>
      <hr>
    </div>
  </div>
  <div class="add-comment">
    <app-add-comment [taskId]="taskId" (newComment)="addComment($event)"></app-add-comment>
  </div>
  <ng-template #noComments >
    <div i18n="No comments|No comments@@no-comments" class="no-comments">
      No comments.
    </div>
  </ng-template>
</div>
